//-
	Author: Michael Maxwell
	Student #: 101006277
doctype
html
	head
		title Recipe Book
		link(rel = 'stylesheet', href = 'css/style.css')
		link(rel = 'icon', href = 'img/icon.png')
		meta(charset = 'utf-8')
		script(src = 'js/jquery-3.1.1.min.js')
		script(src = 'js/recipe.js')
	body
		header
			h1
				img(src = 'img/icon.png')
				|  Recipe Book 
				img(src = 'img/icon.png')
			div
				label
					| Recipe:
					select#recipe
					span#check ✓
				#buttons
					button#view View
					button#submit Submit
		form
			label
				| Name:
				input#name
			label
				| Duration:
				input#duration(type = 'number')
			label
				| Ingredients:
				textarea#ingredients
			label
				| Steps:
				textarea#steps
			label
				| Notes:
				textarea#notes