//
	Author: Michael Maxwell
	Student #: 101006277
doctype
html
	head
		title Error 404
		link(rel = 'stylesheet', href = '/css/style.css')
		link(rel = 'icon', href = '/img/icon.png')
		meta(charset = 'utf-8')
	body
		header
			h1 Error 404